.coursesContainer {
    height: 40em;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
    margin-left: 20px;
    gap: 3px 0px;
    margin-top: 20px;
}

@media only screen and (max-width: 1300px) {
    .coursesContainer {
        height: 20em;
        overflow: auto;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .coursesContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .coursesContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    .coursesContainer {
        grid-template-columns: 1fr;
        display: initial;
    }
}