
.coursesContainer {
    height: 40em;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
    margin-left: 20px;
    gap: 3px 0px;
    margin-top: 20px;
}

